.contenidoParallax{
    position: absolute;
    width: 50%;
    margin-left: 25%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
