.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nombre,
.contacto,
.idiomas {
  margin: 0 10px;
}

.idiomas {
  display: flex;
  align-items: center;
}

.idioma {
  margin: 0 5px;
  cursor: pointer;
  position: relative;
}

.idioma.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #3493ff;
  position: absolute;
  bottom: -3px;
  left: 0;
}
